@model ProductDto

<div class="row">
	<div class="col-md-8 mx-auto rounded border p-3">
		<h2 style="color: #7f44c7" class="text-center mb-5">Edit Product</h2>
		<form method="post" enctype="multipart/form-data">

			<div class="mb-3">
				<label> ID</label>
				<div>
					<input class="form-control-plaintext" readonly value="@ViewData["productId"]" />
				</div>
			</div>
			<div class="mb-3">
				<label> Name</label>
				<div>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>

			<div class="mb-3">
				<label>Brand</label>
				<div>
					<input asp-for="Brand" class="form-control" />
					<span asp-validation-for="Brand" class="text-danger"></span>
				</div>
			</div>
			<div class="mb-3">
				<label>Category</label>
				<div class="col-sm-8>">
					<select class="form-select" asp-for="Category">
						<option value="others">Others</option>
						<option value="Lipstik">Lipstik</option>
						<option value="BodySpray">BodySpray</option>
						<option value="Gel">Gel</option>
						<option value="Cream">Cream</option>
						<option value="Machin">Machin</option>

					</select>
				</div>
			</div>
			<div class="mb-3">
				<label>Price</label>
				<div>
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
			</div>
			<div class="mb-3">
				<label>Description</label>
				<div>
					<textarea asp-for="Description" class="form-control"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</div>
			<div class=" row mb-3">

				<div class="offset-sm-4">
					<img src="/Products/@ViewData["imageFileName"]" width="150">
				</div>
			</div>
			<div class=" row mb-3">
				<label>Image</label>

				<div>
					<input asp-for="ImageFile" class="form-control" />
					<span asp-validation-for="ImageFile" class="text-danger"></span>
				</div>
			</div>
			<div class="mb-3">

				<div>
					<button type="submit" class="btn btn-primary ">Submit</button>

				</div>

			</div>
			<div class="mb-3">

				<div>

					<a class="btn btn-outline-primary" role="button" asp-controller="products" asp-action="Index">
						<i class="bi bi-arrow-left  text-primary fs-3">Cancel</i>
					</a>

				</div>

			</div>

		</form>
	</div>
</div>

