@{
    ViewData["Title"] = "Home Page";
}

<div class="pt-5 d-flex flex-column">
    <h3 style="color: #7f44c7" class="ms-5">When</h3>
    <h1 style="color: #7f44c7" class="">You Look Good</h1> <!-- Added mt-4 to bring h1 down -->
    <h3 style="color: #7f44c7" class="ms-5">You Feel Good</h3>
</div>
<img src="~/products/123.png" alt="Product Image" width="800" class="float-end" />
