@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center ">
    <h1 style="color: #7f44c7">Your beauty is our duty</h1>
    <div class="">
    <p>

        A beauty salon is an establishment dealing with cosmetic treatments <br />
        for men and women. Other variations of this type of business<br />
        include hair salons and spas.
    </p>
    </div>
    <img src="~/products/e.png" alt="Product Image" width="500" class="float-end" />
</div>